In [1]:
from dbfread import DBF
import pandas as pd

In [2]:
dbf = DBF(r'C:\Users\taohuang\Downloads\USDA_ARS-20220627T203346Z-001\USDA_ARS\RTK-for-Tao\2020\ltvr_rtk_2020\20200826los1gcpmac.shp\out\gcp_macro_pj.dbf')
dbf

In [3]:
frame = pd.DataFrame(iter(dbf))
frame

   OBJNAME        lat         lon          ele
0      118  43.142765 -116.735666  1627.930802
1      119  43.142694 -116.736663  1624.519255
2      124  43.142916 -116.736378  1624.785908
3      122  43.143262 -116.736230  1622.693405
4      121  43.143278 -116.736645  1621.832520
5      129  43.143279 -116.736975  1621.116248
6      130  43.143781 -116.736704  1617.478863
7      127  43.143633 -116.736429  1620.511897
8      125  43.143658 -116.735941  1621.059521
9      126  43.143775 -116.735724  1619.775640
10     120  43.143425 -116.735514  1621.823627
11     123  43.143279 -116.735282  1622.388138
12     128  43.142912 -116.735932  1626.686360

In [5]:
frame["ele"].mean()

1622.5078601753846

In [6]:
frame.to_csv(r'C:\Users\taohuang\Downloads\USDA_ARS-20220627T203346Z-001\USDA_ARS\RTK-for-Tao\2020\ltvr_rtk_2020\20200826los1gcpmac.shp\out\gcp_macro_pj.csv")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_29328/32654280.py, line 1)